{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": [
    "transform-runtime",
    ["module-resolver", {
       "root": ["./client"],
       "alias": {
         "components": "components",
         "containers": "containers"
       }
     }]
  ]
}
